.Chat
  .RightHeader
    .RightHeader__group
      = link_to group_messages_path(@group) do
        .RightHeader__group__name
          = @group.name
        %ul.RightHeader__group__memberList
          Member：
          - @group.users.each do |user|
            %li.RightHeader__group__memberList__name
              = user.name
    = link_to edit_group_path(@group), class: "RightHeader__editButton" do
      Edit

  .MessageField
    = render partial: 'message', collection: @messages

  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__contents__input', placeholder: 'type a message'
        = f.label :image, class: 'Form__contents__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'

